In [ ]:
# Steps to install
# 1. pip install sqlalchemy-bigquery google-cloud-bigquery-storage pyarrow
# 2. Copy the credentials file to wherever you set BIGQUERY_CREDENTIALS_PATH to

In [110]:
import json
import os
import pandas as pd
import pyarrow

import sys
from os import path
import numpy

from dotenv import load_dotenv
from sqlalchemy import create_engine


load_dotenv(verbose=True)
BIGQUERY_CREDENTIALS_PATH = os.environ.get('BIGQUERY_CREDENTIALS_PATH')

In [111]:
sys.path.append(path.realpath(path.join(os.getcwd(), "../core")))
import create_queries
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [112]:
import prepare_data

In [179]:
COMPANY_NAME = 'GF'
COMPANY_IDENTIFIER = 'GF'
TRANSFER_PACKAGES_START_DATE = '2020-01-01'
SALES_TRANSACTIONS_START_DATE = '2020-01-01'

INVENTORY_DATE = '10/29/2021'

In [180]:
company_incoming_transfer_packages_query = create_queries.create_company_incoming_transfer_packages_query(COMPANY_IDENTIFIER, TRANSFER_PACKAGES_START_DATE)
company_outgoing_transfer_packages_query = create_queries.create_company_outgoing_transfer_packages_query(COMPANY_IDENTIFIER, TRANSFER_PACKAGES_START_DATE)
company_sales_transactions_query = create_queries.create_company_sales_transactions_query(COMPANY_IDENTIFIER, SALES_TRANSACTIONS_START_DATE)
company_inventory_packages_query = create_queries.create_company_inventory_packages_query(COMPANY_IDENTIFIER)

engine = create_engine('bigquery://bespoke-financial/ProdMetrcData', credentials_path=os.path.expanduser(BIGQUERY_CREDENTIALS_PATH))
company_incoming_transfer_packages_dataframe = pd.read_sql_query(company_incoming_transfer_packages_query, engine)
company_outgoing_transfer_packages_dataframe = pd.read_sql_query(company_outgoing_transfer_packages_query, engine)
company_sales_transactions_dataframe = pd.read_sql_query(company_sales_transactions_query, engine)
company_inventory_packages_dataframe = pd.read_sql_query(company_inventory_packages_query, engine)

In [181]:
deduped_sales_receipts_dataframe = prepare_data.dedupe_sales_transactions(company_sales_transactions_dataframe)

In [182]:
df_in = company_incoming_transfer_packages_dataframe
df_out = company_outgoing_transfer_packages_dataframe
df_inventory = company_inventory_packages_dataframe

In [199]:
df_inventory.head(5)

,license_number,package_id,package_label,type,packaged_date,package_type,product_name,product_category_name,quantity,unit_of_measure,is_testing_sample,is_trade_sample,is_on_hold,archived_date,finished_date
0,C10-0000824-LIC,19191360,1A4060300004FB1000078582,active,2021-10-29,Product,STIIIZY - Juicy Melon Pod - 0.5g,Vape Cartridge (volume - each),30.00,Each,False,False,False,None,None
1,C10-0000224-LIC,19141387,1A4060300004FB1000078439,active,2021-10-28,Product,Smokestacks - Strawberry Banana - Other Concen...,Other Concentrate (weight - each),24.00,Each,False,False,False,None,None
2,C10-0000224-LIC,19140933,1A4060300004FB1000078425,active,2021-10-28,Product,Firesale - Sensi Star - Preroll(0.7g),Pre-Roll Leaf,500.00,Each,False,False,False,None,None
3,C10-0000224-LIC,19140960,1A4060300004FB1000078435,active,2021-10-28,Product,Smokestacks - Cloud 9 - Extract - SUGAR(1g),Extract (weight - each),48.00,Each,False,False,False,None,None
4,C10-0000224-LIC,19140959,1A4060300004FB1000078434,active,2021-10-28,Product,LITLZ - Churro - Preroll(1g),Pre-Roll Flower,64.00,Each,False,False,False,None,None

In [183]:
df_sales = deduped_sales_receipts_dataframe

In [184]:
pd.options.display.float_format = '{:,.2f}'.format

In [187]:
df_sales_117 = df_sales[df_sales['license_number'] == 'C10-0000117-LIC']

In [198]:
df_sales_117['per_unit'] = df_sales_117['tx_total_price'] / df_sales_117['tx_quantity_sold']
df_sales_117['year_month'] = df_sales_117['sales_datetime'].dt.strftime("%Y-%m")

C:\Users\Rachel\GitHub\venvs\bespoke\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Rachel\GitHub\venvs\bespoke\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [189]:
df_sales_224 = df_sales[df_sales['license_number'] == 'C10-0000224-LIC']

In [ ]:
df_sales_224['per_unit'] = df_sales_224['tx_total_price'] / df_sales_224['tx_quantity_sold']
df_sales_224['year_month'] = df_sales_224['sales_datetime'].dt.strftime("%Y-%m")

In [190]:
df_sales_700 = df_sales[df_sales['license_number'] == 'C10-0000700-LIC']

In [ ]:
df_sales_700['per_unit'] = df_sales_700['tx_total_price'] / df_sales_700['tx_quantity_sold']
df_sales_700['year_month'] = df_sales_700['sales_datetime'].dt.strftime("%Y-%m")

In [191]:
df_sales_805 = df_sales[df_sales['license_number'] == 'C10-0000805-LIC']

In [ ]:
df_sales_805['per_unit'] = df_sales_805['tx_total_price'] / df_sales_805['tx_quantity_sold']
df_sales_805['year_month'] = df_sales_805['sales_datetime'].dt.strftime("%Y-%m")

In [196]:
df_sales_824 = df_sales[df_sales['license_number'] == 'C10-0000824-LIC']

In [ ]:
df_sales_824['per_unit'] = df_sales_824['tx_total_price'] / df_sales_824['tx_quantity_sold']
df_sales_824['year_month'] = df_sales_824['sales_datetime'].dt.strftime("%Y-%m")

In [197]:
df_sales_191 = df_sales[df_sales['license_number'] == 'C12-0000191-LIC']

In [ ]:
df_sales_824['per_unit'] = df_sales_824['tx_total_price'] / df_sales_824['tx_quantity_sold']
df_sales_824['year_month'] = df_sales_824['sales_datetime'].dt.strftime("%Y-%m")

In [195]:
df_sales_117.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 765343 entries, 0 to 2428470
Data columns (total 17 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        765343 non-null  object
 1   license_number            765343 non-null  object
 2   receipt_number            765343 non-null  object
 3   rt_type                   765343 non-null  object
 4   sales_customer_type       765343 non-null  object
 5   sales_datetime            765343 non-null  datetime64[ns, UTC]
 6   total_packages            765343 non-null  int64
 7   rt_total_price            765343 non-null  float64
 8   tx_type                   765343 non-null  object
 9   tx_package_id             765343 non-null  object
 10  tx_package_label          765343 non-null  object
 11  tx_product_name           765343 non-null  object
 12  tx_product_category_name  765343 non-null  object
 13  tx_unit_of_measure        765343 non-null  object
 14  tx_quantity_sold          765343 non-null  float64
 15  tx_total_price            765343 non-null  float64
 16  tx_is_deleted             20090 non-null   object
dtypes: datetime64[ns, UTC](1), float64(3), int64(1), object(12)
memory usage: 105.1+ MB

In [107]:
# df_in.to_csv('./BBF_in.csv')
# df_sales.to_csv('./BBF_sales.csv')
# df_inventory.to_csv('./BBF_inventory.csv')

## Sales

In [185]:
df_sales.groupby('license_number').sum()

,total_packages,rt_total_price,tx_quantity_sold,tx_total_price
license_number,,,,
C10-0000117-LIC,2375487,"52,214,455.24","1,100,241.45","18,739,930.30"
C10-0000224-LIC,3865274,"95,539,001.85","1,804,946.46","35,504,891.07"
C10-0000700-LIC,677767,"15,827,434.93","216,256.50","4,477,583.95"
C10-0000805-LIC,148582,"3,085,478.53","48,515.00","1,003,570.37"
C10-0000824-LIC,391907,"8,705,014.98","140,236.00","2,977,088.61"
C12-0000191-LIC,221750,"4,923,826.94","101,305.00","1,677,496.92"

In [120]:
df_sales.count()

id                          6395
license_number              6395
receipt_number              6395
rt_type                     6395
sales_customer_type         6395
sales_datetime              6395
total_packages              6395
rt_total_price              6395
tx_type                     6395
tx_package_id               6395
tx_package_label            6395
tx_product_name             6395
tx_product_category_name    6395
tx_unit_of_measure          6395
tx_quantity_sold            6395
tx_total_price              6395
tx_is_deleted                  0
dtype: int64

In [ ]:
# df_sales.to_csv('./MW_sales.csv')

In [121]:
df_sales['per_unit'] = df_sales['tx_total_price'] / df_sales['tx_quantity_sold']
df_sales['year_month'] = df_sales['sales_datetime'].dt.strftime("%Y-%m")

In [ ]:
# df_sales.groupby('year_month').sum()

In [122]:
s_total_count = df_sales.groupby('year_month')['tx_total_price'].count()
df_total_count = pd.Series(s_total_count).to_frame()
df_total_count = df_total_count.reset_index()
df_total_count.rename(columns={'tx_total_price':'total_count'}, inplace=True)

In [123]:
s_revenue = df_sales.groupby('year_month')['tx_total_price'].sum()
df_revenue = pd.Series(s_revenue).to_frame()
df_revenue = df_revenue.reset_index()
df_revenue.rename(columns={'tx_total_price': 'revenue'}, inplace=True)

In [124]:
# df_sales_sept = df_sales[df_sales['year_month'] == '2021-09']

In [17]:
# df_sales_sept.to_csv('./ND_sales_2021_09.csv')

In [ ]:
# df_revenue

### Outgoing

In [ ]:
# df_out.info()

In [125]:
# df_out['per_unit'] = df_out['shipper_wholesale_price'] / df_out['shipped_quantity']
# df_out['year_month'] = df_out['received_datetime'].dt.strftime("%Y-%m")

In [ ]:
# df_out.groupby('year_month').sum()

## Incoming

In [126]:
df_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 28 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   package_row_id                         1205 non-null   object
 1   delivery_type                          1205 non-null   object
 2   license_number                         1205 non-null   object
 3   manifest_number                        1205 non-null   object
 4   created_date                           1205 non-null   object
 5   received_datetime                      1187 non-null   datetime64[ns, UTC]
 6   shipper_facility_license_number        1205 non-null   object
 7   shipper_facility_name                  1205 non-null   object
 8   recipient_facility_license_number      1205 non-null   object
 9   recipient_facility_name                1205 non-null   object
 10  shipment_type_name                     1205 non-null   object
 11  shipment_transaction_type              1205 non-null   object
 12  package_id                             1205 non-null   object
 13  package_label                          1205 non-null   object
 14  type                                   1205 non-null   object
 15  shipment_package_state                 1205 non-null   object
 16  is_testing_sample                      1205 non-null   bool
 17  is_trade_sample                        1205 non-null   bool
 18  product_category_name                  1205 non-null   object
 19  product_name                           1205 non-null   object
 20  package_lab_results_status             1205 non-null   object
 21  shipper_wholesale_price                686 non-null    float64
 22  shipped_quantity                       1205 non-null   float64
 23  shipped_unit_of_measure                1205 non-null   object
 24  received_quantity                      1149 non-null   float64
 25  received_unit_of_measure               1149 non-null   object
 26  item_unit_weight                       1118 non-null   float64
 27  item_unit_weight_unit_of_measure_name  1118 non-null   object
dtypes: bool(2), datetime64[ns, UTC](1), float64(4), object(21)
memory usage: 247.2+ KB

In [127]:
df_in['per_unit_incoming'] = df_in['shipper_wholesale_price'] / df_in['shipped_quantity']

In [128]:
df_in_price = df_in[df_in['shipper_wholesale_price'].notnull()]

In [ ]:
# df_in_price[df_in_price['per_unit_incoming'].isnull()]

#### getting the average price per package id

In [129]:
average_incoming_package_id = df_in_price.groupby('package_id')['per_unit_incoming'].mean()
df_avg_incoming_price = pd.Series(average_incoming_package_id).to_frame()
df_avg_incoming_price = df_avg_incoming_price.reset_index()

#### getting average price per product name

In [130]:
average_incoming_product = df_in_price.groupby('product_name')['per_unit_incoming'].mean()
df_avg_product = pd.Series(average_incoming_product).to_frame()
df_avg_product = df_avg_product.reset_index()
df_avg_product.rename(columns={'per_unit_incoming':'per_unit_product'}, inplace=True)

## COGS

#### Incoming Price - Package ID

In [131]:
df_cogs_package_id = pd.merge(df_sales, df_avg_incoming_price, left_on='tx_package_id', right_on='package_id', how='left')

In [132]:
df_cogs_package_id['total_incoming'] = df_cogs_package_id['per_unit_incoming'] * df_cogs_package_id['tx_quantity_sold']

In [133]:
import numpy as np

In [134]:
df_cogs_package_id.replace([np.inf], np.nan, inplace=True)

In [135]:
df_cogs_package_id_notnull = df_cogs_package_id[df_cogs_package_id['total_incoming'].notnull()]

In [64]:
# df_cogs_package_id[df_cogs_package_id['tx_package_id'] == '3798016']

In [136]:
df_cogs_package_id_notnull['total_incoming'].count()

4147

In [137]:
# df_cogs_package_id_notnull.groupby('year_month')['total_incoming'].sum()

In [138]:
s_cogs = df_cogs_package_id_notnull.groupby('year_month')['total_incoming'].sum()
df_cogs_id = pd.Series(s_cogs).to_frame()
df_cogs_id = df_cogs_id.reset_index()

In [139]:
s_cogs_count = df_cogs_package_id_notnull.groupby('year_month')['total_incoming'].count()
df_cogs_count = pd.Series(s_cogs_count).to_frame()
df_cogs_count = df_cogs_count.reset_index()
df_cogs_count.rename(columns={'total_incoming':'count_incoming'}, inplace=True)

In [140]:
df_cogs_id

  year_month  total_incoming
0    2021-07       23,402.22
1    2021-08       40,584.19
2    2021-09       26,904.34
3    2021-10       32,486.99

In [34]:
# df_cogs_2020_04 = df_cogs_package_id_notnull[df_cogs_package_id_notnull['year_month'] == '2020-04']

In [35]:
# df_cogs_2020_04.sum()

In [44]:
# df_cogs_2020_04.to_csv('./gf_2020_04.csv')

In [40]:
# df_cogs_package_id_notnull.to_csv('./gf_cogs_not_null.csv')

In [68]:
# df_cogs_package_id_notnull[df_cogs_package_id_notnull['year_month'] == '2021-04']

#### Incoming Price - Average Product Price

In [141]:
df_cogs_average_product = pd.merge(df_cogs_package_id, df_avg_product, left_on='tx_product_name', right_on='product_name', how='left')

In [72]:
# df_cogs_average_product.info()

In [142]:
df_cogs_average_product['total_product'] = df_cogs_average_product['tx_quantity_sold'] * df_cogs_average_product['per_unit_product']

In [143]:
df_cogs_null = df_cogs_average_product[df_cogs_average_product['per_unit_incoming'].isnull()]

In [144]:
# df_cogs_null_product = pd.merge(df_cogs_null, df_avg_product, left_on='tx_product_name', right_on='product_name', how='left')
df_cogs_product = df_cogs_null[df_cogs_null['per_unit_product'].notnull()]

In [145]:
product_sum = df_cogs_product.groupby('year_month')['total_product'].sum()
df_product_sum = pd.Series(product_sum).to_frame()
df_product_sum = df_product_sum.reset_index()
df_product_sum.rename(columns={'total_product':'product_sum'}, inplace=True)

In [146]:
product_count = df_cogs_product.groupby('year_month')['total_product'].count()
df_product_count = pd.Series(product_count).to_frame()
df_product_count = df_product_count.reset_index()
df_product_count.rename(columns={'total_product':'product_count'}, inplace=True)

In [147]:
df_cogs_product = pd.merge(df_product_sum, df_product_count)

In [148]:
df_product_sum

  year_month  product_sum
0    2021-07     5,355.83
1    2021-08     1,517.06
2    2021-09       888.00
3    2021-10       872.00

In [ ]:
# cogs_null = df_cogs_null[df_cogs_null['per_unit_product'].isnull()]

In [ ]:
# cogs_null['sales_datetime'] = cogs_null['sales_datetime'].dt.strftime("%Y-%m-%d")

In [ ]:
# cogs_null.to_excel('./purple_lotus_import/PL_incoming_null.xlsx')

In [ ]:
# df_cogs[df_cogs['per_unit_incoming'].isnull() & df_cogs['per_unit_product'].notnull()]

## Summary

In [149]:
df_summary = pd.merge(df_revenue, df_cogs_product, how='left')

In [150]:
df_summary = pd.merge(df_summary, df_cogs_id, how='left')

In [151]:
df_summary['product_sum'] = df_summary['product_sum'].fillna(0)

In [152]:
df_summary['product_count'] = df_summary['product_count'].fillna(0)

In [153]:
df_summary['cogs'] = df_summary['total_incoming'] + df_summary['product_sum']

In [154]:
df_summary = pd.merge(df_summary, df_cogs_count)
df_summary = pd.merge(df_summary, df_total_count)

In [155]:
df_summary['total_count_incoming'] = df_summary['product_count'] + df_summary['count_incoming']

In [156]:
df_summary['margin_$'] = df_summary['revenue'] - df_summary['cogs']
df_summary['margin_%'] = df_summary['margin_$'] / df_summary['revenue']

In [157]:
df_summary['coverage'] = df_summary['total_count_incoming'] / df_summary['total_count']

In [158]:
df_summary_simp = df_summary[['year_month', 'revenue', 'cogs', 'margin_$', 'margin_%', 'total_count_incoming', 'total_count', 'coverage']]

In [159]:
df_summary_simp

,year_month,revenue,cogs,margin_$,margin_%,total_count_incoming,total_count,coverage
0,2021-07,"69,418.14","28,758.05","40,660.09",0.59,710,1296,0.55
1,2021-08,"87,961.54","42,101.24","45,860.30",0.52,1345,1976,0.68
2,2021-09,"59,167.55","27,792.34","31,375.21",0.53,1113,1559,0.71
3,2021-10,"55,255.52","33,358.99","21,896.53",0.40,1300,1564,0.83

In [160]:
df_summary_simp.to_excel('./ND_analysis.xlsx')

## Inventory

In [161]:
df_inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   license_number         274 non-null    object
 1   package_id             274 non-null    object
 2   package_label          274 non-null    object
 3   type                   274 non-null    object
 4   packaged_date          274 non-null    object
 5   package_type           274 non-null    object
 6   product_name           274 non-null    object
 7   product_category_name  274 non-null    object
 8   quantity               274 non-null    float64
 9   unit_of_measure        274 non-null    object
 10  is_testing_sample      274 non-null    bool
 11  is_trade_sample        274 non-null    bool
 12  is_on_hold             274 non-null    bool
 13  archived_date          0 non-null      object
 14  finished_date          0 non-null      object
dtypes: bool(3), float64(1), object(11)
memory usage: 26.6+ KB

In [162]:
df_inventory_incoming = pd.merge(df_inventory, df_avg_incoming_price, on='package_id', how='left')

In [163]:
df_inventory_incoming.replace([np.inf], np.nan, inplace=True)

In [164]:
df_inv_null = df_inventory_incoming[df_inventory_incoming['per_unit_incoming'].isnull()]

In [165]:
df_inv_product = pd.merge(df_inv_null, df_avg_product, on='product_name', how='left')

In [166]:
df_inv_product.replace([np.inf], np.nan, inplace=True)

In [167]:
df_inv_product_price = df_inv_product[df_inv_product['per_unit_product'].notnull()]

In [168]:
df_inv_product_price['total_price'] = df_inv_product_price['quantity'] * df_inv_product_price['per_unit_product']

C:\Users\Rachel\GitHub\venvs\bespoke\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [169]:
inventory_product_value = df_inv_product_price['total_price'].sum()
print(f'{inventory_product_value:,.2f}')

1,476.04

In [170]:
df_inventory_incoming['total_price'] = df_inventory_incoming['quantity'] * df_inventory_incoming['per_unit_incoming']
inventory_value = df_inventory_incoming['total_price'].sum()
print(f'{inventory_value:,.2f}')

36,674.48

In [171]:
total_inv_value = inventory_product_value + inventory_value
print(f'{total_inv_value:,.2f}')

38,150.52

In [172]:
inv_count_product = df_inv_product_price['per_unit_product'].count()

In [173]:
inv_count_product

14

In [174]:
inv_count_incoming = df_inventory_incoming['per_unit_incoming'].count()
inv_count_total = df_inventory_incoming['quantity'].count()

In [175]:
inv_total_incoming = inv_count_product + inv_count_incoming

In [176]:
inv_total_incoming

168

In [177]:
inv_count_total

274

In [178]:
inventory_coverage = inv_total_incoming / inv_count_total
print(f'{inventory_coverage:,.0%}')

61%

# Notes

In [ ]:
# df_in[df_in.duplicated('package_id')]
# df_sales[df_sales.duplicated('tx_package_id')]

In [ ]:
# pd.merge(df_sales, df_in[['package_id','per_unit_incoming']], left_on='tx_package_id', right_on='package_id', how='left')

In [ ]:
# df_sales.merge(df_in['package_id','per_unit_incoming'], left_on='tx_package_id', right_on='package_id', how='left')

In [ ]:
# incoming_transfer_simp = company_incoming_transfer_packages_dataframe[[
# 'license_number',
# 'created_date',
# 'package_id',
# 'product_category_name',
# 'product_name',
# 'shipper_wholesale_price',
# 'shipped_quantity',
# 'shipped_unit_of_measure',
# 'item_unit_weight',
# 'item_unit_weight_unit_of_measure_name']]

In [ ]:
# incoming_transfer_simp

In [ ]:
# outgoing_transfer_simp = company_outgoing_transfer_packages_dataframe[[
# 'license_number',
# 'created_date',
# 'package_id',
# 'product_category_name',
# 'product_name',
# 'shipper_wholesale_price',
# 'shipped_quantity',
# 'shipped_unit_of_measure',
# 'item_unit_weight',
# 'item_unit_weight_unit_of_measure_name']]

In [ ]:
# company_sales_transactions_dataframe.to_csv('hpcc_all_sales_10_13_21.csv')

In [ ]:
# company_sales_transactions_dataframe.info()

In [ ]:
# sales_simp = company_sales_transactions_dataframe[[
# 'license_number',
# 'sales_datetime',
# 'tx_package_id',
# 'tx_product_name',
# 'tx_product_category_name',
# 'tx_unit_of_measure',
# 'tx_quantity_sold',
# 'tx_total_price']]

In [ ]:
# inventory_simp = company_inventory_packages_dataframe[[
# 'license_number',
# 'package_id',
# 'packaged_date',
# 'product_name',
# 'product_category_name',
# 'quantity',
# 'unit_of_measure'
# ]]

In [ ]:
# sales_simp['year_month'] = sales_simp['sales_datetime'].dt.strftime("%Y-%m")

In [ ]:
# sales_simp.groupby(by=['year_month'], as_index=False).count()

In [ ]:
# sales_drop = sales_simp.drop(['sales_datetime', 'month_year'], axis=1)

In [ ]:
# sales_simp.to_csv('./hpcc_sales_2021_10_13.csv')

In [ ]:
# INVENTORY_DATES = [
#     '09/30/2020',
#     '10/31/2020',
#     '11/30/2020',
#     '12/31/2020',
#     '01/31/2021',
#     '02/28/2021',
#     '03/31/2021',
#     '04/30/2021',
#     '05/31/2021',
#     '06/30/2021',
#     '07/31/2021',
#     '08/31/2021',
#     '09/30/2021',
# ]

In [ ]:
# %autoreload 2

# sys.path.append(path.realpath(path.join(os.getcwd(), "../../scripts/analysis")))
# sys.path.append(path.realpath(path.join(os.getcwd(), "../../src")))

# from util import active_inventory_util as util

In [ ]:
# d = util.Download()
# d.download_dataframes(
#     incoming_transfer_packages_dataframe=company_incoming_transfer_packages_dataframe,
#     outgoing_transfer_packages_dataframe=company_outgoing_transfer_packages_dataframe,
#     sales_transactions_dataframe=company_sales_transactions_dataframe,
# )

In [ ]:
# q = util.Query()
# q.inventory_dates = INVENTORY_DATES
# q.company_name = COMPANY_NAME

# id_to_history = util.get_histories(d)
# util.print_counts(id_to_history)
# util.create_inventory_xlsx(id_to_history, q)

In [ ]:
# computed_inventory_package_records = util.create_inventory_dataframe_by_date(id_to_history, INVENTORY_DATE)
# computed_inventory_packages_dataframe = pandas.DataFrame(
#     computed_inventory_package_records,
#     columns=[
#         'package_id',
#         'Arrived Date',
#         'Product Category',
#         'Product Name',
#         'Current Quantity',
#         'Sold Date',
#     ]
# )
# computed_inventory_packages_dataframe

In [ ]:
# date_to_inventory_dataframe = {}
# for date, inventory_records in date_to_inventory_records.items():
#     date_to_inventory_dataframe[date] = pandas.DataFrame(
#         inventory_records,
#         columns=[
#             'package_id',
#             'Arrived Date',
#             'Product Category',
#             'Product Name',
#             'Current Quantity',
#             'Sold Date',
#         ]
#     )
    
# date_to_inventory_dataframe[list(date_to_inventory_dataframe.keys())[0]]

In [ ]:
# raw_incoming_transfer_packages_dataframe = pandas.read_excel('data/20210930/royal_apothecary_incoming_transfer_packages_20200101_20210930.xlsx', header=0)
# len(raw_incoming_transfer_packages_dataframe.index), raw_incoming_transfer_packages_dataframe.columns

In [ ]:
# incoming_transfer_packages_dataframe = raw_incoming_transfer_packages_dataframe[[
#     'date_type',
#     'transfer_row_id',
#     'delivery_row_id',
#     'package_row_id',
#     'delivery_type',
#     'manifest_number',
#     'created_date',
#     'received_datetime',
#     'shipper_facility_license_number',
#     'shipper_facility_name',
#     'recipient_facility_license_number',
#     'recipient_facility_name',
#     'shipment_type_name',
#     'shipment_transaction_type',
#     'package_id',
#     'package_label',
#     'type',
#     'product_category_name',
#     'product_name',
#     'shipper_wholesale_price',
#     'shipped_quantity',
#     'package_lab_results_status',
#     'shipment_package_state',
#     'is_testing_sample',
#     'is_trade_sample'
# ]]

In [ ]:
# for date, inventory_dataframe in date_to_inventory_dataframe.items():
#     print(date)
#     print(f'# of packages in inventory: {len(inventory_dataframe.index)}')

#     inventory_with_incoming_transfer_packages_dataframe = inventory_dataframe.astype({'package_id': 'int64'}).merge(incoming_transfer_packages_dataframe, on='package_id', how='inner', suffixes=('_l', '_r'))
# #     print(f'# of packages in inventory with incoming package: {len(inventory_with_incoming_transfer_packages_dataframe.index)}')
    
#     inventory_with_cost_records = inventory_with_incoming_transfer_packages_dataframe.to_dict('record')

#     total_valuation_cost = 0
#     import math
#     for inventory_with_cost_record in inventory_with_cost_records:
#         incoming_shipped_price = inventory_with_cost_record['shipper_wholesale_price']
#         if math.isnan(incoming_shipped_price):
#             incoming_shipped_price = 0
#         incoming_shipped_quantity = inventory_with_cost_record['shipped_quantity']
#         current_quantity = inventory_with_cost_record['Current Quantity']
#         total_valuation_cost += float(current_quantity) * (incoming_shipped_price / incoming_shipped_quantity)

#     print(f'Inventory valuation (based on COST): ${total_valuation_cost}')
#     print('')

In [ ]:
# import json
# import pandas
# import numpy
# import os
# import sys
# from os import path