In [1]:
import json
import pandas
import pyarrow
from sqlalchemy import create_engine

# Steps to install
# 1. pip install sqlalchemy-bigquery google-cloud-bigquery-storage pyarrow
# 2. Copy the credentials file to wherever you set BIGQUERY_CREDENTIALS_PATH to

In [2]:
import os
from dotenv import load_dotenv

load_dotenv(verbose=True)
BIGQUERY_CREDENTIALS_PATH = os.environ.get('BIGQUERY_CREDENTIALS_PATH')

In [5]:
table_row_counts_query = """
    select
        table_id,
        row_count
    from
        bespoke-financial.ProdMetrcData.__TABLES__
    order by
        row_count desc
"""

engine = create_engine('bigquery://bespoke-financial/ProdMetrcData', credentials_path=os.path.expanduser(BIGQUERY_CREDENTIALS_PATH))
table_row_counts = pandas.read_sql_query(table_row_counts_query, engine)

In [6]:
table_row_counts

                   table_id  row_count
0  metrc_sales_transactions    3723857
1      metrc_sales_receipts    1840242
2   metrc_transfer_packages     578188
3            metrc_packages     400638
4        company_deliveries      94917
5          metrc_deliveries      83137
6           metrc_transfers      81612
7       metrc_plant_batches      81000
8                 companies        417
9            metrc_api_keys         27

In [13]:
sales_receipts_missing_receipt_id_count_query = """
    select
        count(*)
    from
        metrc_sales_receipts
    where
        metrc_sales_receipts.receipt_id is null
"""

sales_receipts_missing_updated_at_count_query = """
    select
        count(*)
    from
        metrc_sales_receipts
    where
        metrc_sales_receipts.updated_at is null
"""

engine = create_engine('bigquery://bespoke-financial/ProdMetrcData', credentials_path=os.path.expanduser(BIGQUERY_CREDENTIALS_PATH))
sales_receipts_missing_receipt_id_count = pandas.read_sql_query(sales_receipts_missing_receipt_id_count_query, engine)
sales_receipts_missing_updated_at_count = pandas.read_sql_query(sales_receipts_missing_updated_at_count_query, engine)

In [14]:
sales_receipts_missing_receipt_id_count

   f0_
0    0

In [15]:
sales_receipts_missing_updated_at_count

   f0_
0    0