In [ ]:
import pandas as pd
import numpy as np
from functools import reduce
import pyodbc
from sqlalchemy import create_engine
import urllib
from datetime import date
from pathlib import Path
import xlsxwriter
from datetime import datetime
import datetime as dt

In [ ]:
# pd.set_option('display.max_colwidth', -1)
pd.options.display.max_rows = 10000
pd.options.display.min_rows = 10000

In [ ]:
# Running this will update date info for later in the code

today_date = date.today()

today_year = today_date.strftime('%Y')
today_month = today_date.strftime('%m')
today_day = today_date.strftime('%d')

In [ ]:
# Engine for California Data
ca_conn = pyodbc.connect(server = 'bespoke-database-1.cmevrozrcs7c.us-west-2.rds.amazonaws.com', 
                      driver = '{ODBC Driver 17 for SQL Server}',
                      database = 'ca_cannabis',
                      UID = 'admin',
                      PWD = 'N19lrqxnurTUJLJT6GFe')

In [ ]:
# Engine for Colorado Data
co_conn = pyodbc.connect(server = 'bespoke-database-1.cmevrozrcs7c.us-west-2.rds.amazonaws.com', 
                      driver = '{ODBC Driver 17 for SQL Server}',
                      database = 'co_cannabis',
                      UID = 'admin',
                      PWD = 'N19lrqxnurTUJLJT6GFe')

In [ ]:
# Engine for Illinois Data
il_conn = pyodbc.connect(server = 'bespoke-database-1.cmevrozrcs7c.us-west-2.rds.amazonaws.com', 
                      driver = '{ODBC Driver 17 for SQL Server}',
                      database = 'il_cannabis',
                      UID = 'admin',
                      PWD = 'N19lrqxnurTUJLJT6GFe')

In [ ]:
# Engine for Massachusetts Data
ma_conn = pyodbc.connect(server = 'bespoke-database-1.cmevrozrcs7c.us-west-2.rds.amazonaws.com', 
                      driver = '{ODBC Driver 17 for SQL Server}',
                      database = 'ma_cannabis',
                      UID = 'admin',
                      PWD = 'N19lrqxnurTUJLJT6GFe')

In [ ]:
# Engine for Massachusetts Data
mi_conn = pyodbc.connect(server = 'bespoke-database-1.cmevrozrcs7c.us-west-2.rds.amazonaws.com', 
                      driver = '{ODBC Driver 17 for SQL Server}',
                      database = 'mi_cannabis',
                      UID = 'admin',
                      PWD = 'N19lrqxnurTUJLJT6GFe')

In [ ]:
# Engine for Nevada Data
nv_conn = pyodbc.connect(server = 'bespoke-database-1.cmevrozrcs7c.us-west-2.rds.amazonaws.com', 
                      driver = '{ODBC Driver 17 for SQL Server}',
                      database = 'nv_cannabis',
                      UID = 'admin',
                      PWD = 'N19lrqxnurTUJLJT6GFe')

In [ ]:
# Engine for Oregon Data
or_conn = pyodbc.connect(server = 'bespoke-database-1.cmevrozrcs7c.us-west-2.rds.amazonaws.com', 
                      driver = '{ODBC Driver 17 for SQL Server}',
                      database = 'or_cannabis',
                      UID = 'admin',
                      PWD = 'N19lrqxnurTUJLJT6GFe')

In [ ]:
# Engine for Washington Data
wa_conn = pyodbc.connect(server = 'bespoke-database-1.cmevrozrcs7c.us-west-2.rds.amazonaws.com', 
                      driver = '{ODBC Driver 17 for SQL Server}',
                      database = 'wa_cannabis',
                      UID = 'admin',
                      PWD = 'N19lrqxnurTUJLJT6GFe')

In [ ]:
# # This is for updating with just California Data

# ca_roll = pd.read_sql("SELECT * FROM ca_roll", ca_conn)

# df_roll = ca_roll

In [ ]:
# This is for updating with a combined file of California and Colorado Data

ca_roll = pd.read_sql("SELECT * FROM ca_roll", ca_conn)
co_roll = pd.read_sql("SELECT * FROM co_roll", co_conn)
il_roll = pd.read_sql("SELECT * FROM il_roll", il_conn)
ma_roll = pd.read_sql("SELECT * FROM ma_roll", ma_conn)
mi_roll = pd.read_sql("SELECT * FROM mi_roll", mi_conn)
nv_roll = pd.read_sql("SELECT * FROM nv_roll", nv_conn)
or_roll = pd.read_sql("SELECT * FROM or_roll", or_conn)
wa_roll = pd.read_sql("SELECT * FROM wa_roll", wa_conn)

df_roll = ca_roll.append(co_roll).append(il_roll).append(ma_roll).append(mi_roll).append(nv_roll).append(or_roll).append(wa_roll)
len(df_roll)

In [ ]:
## Only run this when the code below won't fun
## It will help you find the error
# list_of_dfs = []
# for file in filenames:
#     print(file)
#     list_of_dfs.append(pd.read_csv(file, encoding = 'unicode_escape'))

In [ ]:
filenames = Path('../ar_reports/orig/no_neg').glob('*.csv')
list_of_dfs = [pd.read_csv(file, encoding = 'unicode_escape') for file in filenames]

for dataframe, file in zip(list_of_dfs, filenames):
    Dataframe['file'] = file
df_file = pd.concat(list_of_dfs, ignore_index=True, sort=False)

In [ ]:
# This is stuff Nolan has done to try to fix the nulls being read in

In [ ]:
import os

In [ ]:
# all_dfs = pd.DataFrame(columns={'license_number', 'license_provided', 'ar_account', 'count_payor',
#        'sum_days_over', 'orig_amt', 'bal_out', 'current', '30_days', '60_days',
#        '90_days', 'over_90_days', 'delinquent', 'date', 'client', 'summary'})

In [ ]:
# for df in os.listdir('../ar_reports/orig/no_neg'):
#     if df[-3:] == 'csv':
#         read_df = pd.read_csv(f"../ar_reports/orig/no_neg/{df}", encoding='unicode_escape')
#         all_dfs = all_dfs.append(read_df)

In [ ]:
# all_dfs = all_dfs.reset_index().drop(columns={'index'})
# all_dfs

In [ ]:
# all_dfs['date'] = pd.to_datetime(all_dfs['date'], format="%m/%d/%Y")

In [ ]:
df_file['date'] = pd.to_datetime(df_file['date'], format="%m/%d/%Y")

In [ ]:
df_ar = df_file
# df_ar = all_dfs

### This is a quick error checker

In [ ]:
df_ar[df_ar['license_number'].isnull()]['client'].unique()

In [ ]:
df_ar['license_number'] = df_ar['license_number'].replace(np.nan, '')

In [ ]:
for n in range(len(df_ar)):
    if df_ar['license_number'][n] == '':
        df_ar['license_number'][n] = df_ar['ï»¿license_number'][n]

In [ ]:
df_ar[df_ar['license_number'] == '']['client'].unique()

In [ ]:
if len(df_ar[df_ar['license_number'].isnull()]['client'].unique()) > 0:
    print(error)

In [ ]:
df_ar = df_ar.drop(columns={'ï»¿license_number'})

In [ ]:
df_roll[df_roll['license_number'].isnull()]

In [ ]:
df_ar[df_ar['license_number'].isnull()]

In [ ]:
df_ar['license_number'].isnull().sum()

In [ ]:
df_ar['license_number'].str.strip().isnull().sum()

In [ ]:
df_ar[df_ar['license_number'].str.strip().isnull()]['license_number'].value_counts()

In [ ]:
df_ar['license_number'] = df_ar['license_number'].astype(str)

In [ ]:
df_ar.dtypes

In [ ]:
# Not sure why this is what breaks the code
# df_ar['license_number'] = df_ar['license_number'].str.strip()

In [ ]:
df_ar_roll = pd.merge(df_ar, df_roll, on='license_number', how='left')
df_ar_roll.head()

In [ ]:
df_ar_roll[df_ar_roll['license_number'].isnull()]

In [ ]:
len(df_ar_roll[df_ar_roll['roll_up_id'].isnull()])

In [ ]:
df_ar_roll_fill = df_ar_roll[~df_ar_roll['roll_up_id'].isnull()]
len(df_ar_roll_fill)

In [ ]:
df_ar_roll_fill.head()

In [ ]:
df_ar_roll[df_ar_roll['license_number'].isnull()]

## to be exported on a weekly basis - 2 items

### 1. Combined list of all AR reports. To be used for identifying license numbers for AR reports as well as to be used for macro in underwriting process.

In [ ]:
# df_ar_roll_fill.to_csv(f'../../../combined_ar_list/combined_lists_{today_year}{today_month}{today_day}.csv', index=False)

In [ ]:
# This just adds a duplicate license column to the end of df_ar_roll_fill so that my (Nolan's) VBA Macro can run properly
df_ar_roll['license_end'] = df_ar_roll['license_number']

In [ ]:
df_ar_roll_fill.head()

In [ ]:
df_ar_for_sql = df_ar_roll_fill.reset_index().drop(columns={'index', 'summary', 'roll_up_id', 'company_roll_up'})

In [ ]:
# for n in range(len(df_ar_for_sql)):
#     if df_ar_for_sql['current'][n] < 0:
#         df_ar_for_sql['bal_out'][n] -= df_ar_for_sql['current'][n]
#         df_ar_for_sql['current'][n] = 0
#     if df_ar_for_sql['30_days'][n] < 0:
#         df_ar_for_sql['bal_out'][n] -= df_ar_for_sql['30_days'][n]
#         df_ar_for_sql['30_days'][n] = 0
#     if df_ar_for_sql['60_days'][n] < 0:
#         df_ar_for_sql['bal_out'][n] -= df_ar_for_sql['60_days'][n]
#         df_ar_for_sql['60_days'][n] = 0
#     if df_ar_for_sql['90_days'][n] < 0:
#         df_ar_for_sql['bal_out'][n] -= df_ar_for_sql['90_days'][n]
#         df_ar_for_sql['90_days'][n] = 0
#     if df_ar_for_sql['over_90_days'][n] < 0:
#         df_ar_for_sql['bal_out'][n] -= df_ar_for_sql['over_90_days'][n]
#         df_ar_for_sql['over_90_days'][n] = 0

In [ ]:
# df_ar_for_sql.to_sql('combined_lists_include_nulls', engine_con, if_exists='replace', index=False)

In [ ]:
df_ar_roll[df_ar_roll['ar_account'].str.contains('Â')]

In [ ]:
# This reads the non null file into the combined ar lists and the file with nulls into the files to use for ar reports
# df_ar_roll_fill.to_csv(f'../../../combined_ar_list/combined_lists_{today_year}{today_month}{today_day}.csv', index=False)
df_ar_roll.to_csv(f'../../../ar_reports/files to use for ar report license identification/combined_lists_ar_reports/combined_lists_include_nulls_{today_year}_{today_month}_{today_day}.csv', index=False)

In [ ]:
# And this re-removes the newly added columnm, as I can't be bothered to check if it will mess up code later on
df_ar_roll.drop(columns=['license_end'], inplace=True)

### 2. Move the AR data to SQL

In [ ]:
# This creates the SQL connection to the database we use

params = urllib.parse.quote_plus("DRIVER={ODBC Driver 17 for SQL Server};"
                                 "SERVER=bespoke-database-1.cmevrozrcs7c.us-west-2.rds.amazonaws.com;"
                                 "DATABASE=ar_reports;"
                                 "UID=admin;"
                                 "PWD=N19lrqxnurTUJLJT6GFe")
engine_con = create_engine("mssql+pyodbc:///?odbc_connect={}".format(params))

In [ ]:
df_ar_roll.head()

In [ ]:
# This adds the AR report source so we can more properly add the new data

df_ar_roll['ar_report'] = ''

for n in range(len(df_ar_roll)):
    ar_year = str(df_ar_roll['date'][n].year)
    ar_month = str(df_ar_roll['date'][n].month)
    if len(ar_month) == 1:
        ar_month = '0' + ar_month
    ar_day = str(df_ar_roll['date'][n].day)
    if len(ar_day) == 1:
        ar_day = '0' + ar_day
        
    ar_client = df_ar_roll['client'][n].lower().replace(' ', '_')
    
    ar_file = f"{ar_client}_{ar_year}_{ar_month}_{ar_day}"
    
    df_ar_roll['ar_report'][n] = ar_file

In [ ]:
df_ar_roll.to_excel('df_ar_for_sql.xlsx', index=False)

In [ ]:
# This fills the new dataframe

ar_file_info = pd.DataFrame(df_ar_roll['ar_report'].unique(), columns={'ar_report'})

ar_file_info['client'] = ''

for n in range(len(ar_file_info)):
     ar_file_info['client'][n] = df_ar_roll[df_ar_roll['ar_report'] == ar_file_info['ar_report'][n]]['client'].value_counts().index[0]

In [ ]:
# This just reorders the columns
ar_file_info = ar_file_info[['client', 'ar_report']]
ar_file_info = ar_file_info.sort_values(by='ar_report').reset_index().drop(columns={'index'})
ar_file_info.head()

In [ ]:
old_ar_file_info = pd.read_sql('ar_files', con=engine_con)

In [ ]:
old_ar_file_info.head()

In [ ]:
new_ar_file_list = []

for ar in ar_file_info['ar_report'].unique():
    if ar not in old_ar_file_info['ar_report'].unique():
        new_ar_file_list.append(ar)

In [ ]:
new_ar_file_list

In [ ]:
new_ar_list_df = pd.DataFrame(new_ar_file_list, columns={'ar_report'})

In [ ]:
new_ar_df = new_ar_list_df.merge(df_ar_roll, on='ar_report')
new_ar_file_df = new_ar_list_df.merge(ar_file_info, on='ar_report')
new_ar_file_df

In [ ]:
# Stop here so I can check that the code is doing what it is supposed to
print(stop)

In [ ]:
# And this adds the file dataframe to sql

new_ar_df.to_sql('ar_data', con=engine_con, if_exists='append', index=False)
new_ar_file_df.to_sql('ar_files', con=engine_con, if_exists='append', index=False)

In [ ]:
# # This is only needed when a new state is added
# roll_data_to_add = df_ar_roll[['license_number', 'company_roll_up', 'roll_up_id']]
# roll_data_to_add.drop_duplicates(inplace=True)
# roll_data_to_add.to_excel('add_rolls.xlsx', index=False)

### 3. Credit database stats summary

In [ ]:
df_all = df_ar_roll_fill

In [ ]:
df_bal = df_all.groupby(by='client')['bal_out'].sum()

In [ ]:
# df_bal_last_month =  df_all[df_all.date.dt.month.astype(str) + "-" + df_all.date.dt.year.astype(str) == str(today_date.month) + "-" + str(today_date.year)].groupby(by='client')['bal_out'].sum()

In [ ]:
df_count = df_all.groupby('client', as_index=True)['license_number'].count()

In [ ]:
df_nunique = df_all.groupby('client', as_index=True)['license_number'].nunique()

In [ ]:
df_roll_nunique = df_all.groupby('client', as_index=True)['roll_up_id'].nunique()

In [ ]:
# This mess of code is to add all the month data

In [ ]:
# We start by creating a FataFrame of the groupby data
df_list_of_dates = pd.DataFrame(df_all.groupby('client', as_index=True)['date'].unique())
df_list_of_dates = df_list_of_dates.rename(columns={'date':'months'})

# This makes sure they are properly sorted, because they apparently aren't by default
for n in range(len(df_list_of_dates)):
    df_list_of_dates.months[n].sort()

In [ ]:
# This should be way less complicated than it is, but w/e
# This is for that columns I thought was for balance this month
most_recent_month = []
for n in range(len(df_list_of_dates)):
    most_recent_month.append(df_list_of_dates[n:n+1]['months'][-1][-1])
df_most_recent_month = pd.DataFrame(index=df_list_of_dates.index, data=most_recent_month, columns=['most_recent_month'])
sum_of_most_recent = []
for n in range(len(df_most_recent_month)):
    sum_of_most_recent.append(df_all[df_all.client == df_most_recent_month.index[n]][df_all.date == pd.to_datetime(df_most_recent_month.most_recent_month).astype(str)[n]]['bal_out'].sum())
df_most_recent_month['sum_of_most_recent'] = sum_of_most_recent
df_bal_last_month = df_most_recent_month.drop(columns=['most_recent_month'])

In [ ]:
# This will be a list of all of the lengths of all of the lists of months, both for finding the longest one and for a column
len_list = []

In [ ]:
# This gets us the maximum length, which will be the number of columns we will need to create for the months
for n in range(len(df_list_of_dates)):
    len_list.append(len(df_list_of_dates.months[n]))    
num_cols = max(len_list)

In [ ]:
# This creates a  the the # of Reports columns
report_length = pd.DataFrame(index=df_list_of_dates.index, data=len_list, columns=['num_of_reports'])

In [ ]:
# This creates said number of month columns
for i in range(num_cols):
    df_list_of_dates[f"month_{i+1}"] = ''

In [ ]:
for n in range(len(df_list_of_dates)):
    for i in range(len(df_list_of_dates.months[n])):
        df_list_of_dates[f"month_{i+1}"][n] = df_list_of_dates.months[n][i]

# This drops the old months and turns the rest into pd.datatime instead of np.datetime, which is a mess
df_list_of_dates = df_list_of_dates.drop(columns='months').apply(lambda x: pd.to_datetime(x))

# This fills the NaTs with blanks because I found the NaTs annoying
# df_list_of_dates = df_list_of_dates.fillna('')

In [ ]:
# Roundabout way to do this, I know, but adding the index as it's onw column in surpringly complicated
df_list_of_companys = df_list_of_dates.drop(axis=1, columns=list(df_list_of_dates.columns.unique()))
df_list_of_companys['company'] = df_list_of_companys.index

In [ ]:
# I think this is the final draft of what we want to send to Excel
credit_stats = pd.concat([df_list_of_companys,
                          df_count,
                          df_nunique.rename("unique_license"),
                          df_roll_nunique.rename("unique_rolls"),
                          df_bal,
                          df_bal_last_month.rename(columns={"sum_of_most_recent": "total_rec_bal"}),
                          report_length, df_list_of_dates], axis=1)

In [ ]:
credit_stats.head(3)

In [ ]:
# This should clean the way the Datetime columns are read into Excel

for col in list(credit_stats.columns):
    if col[:5] == 'month':
        credit_stats[col] = pd.to_datetime(credit_stats[col]).apply(lambda x: x.date())

In [ ]:
credit_stats.dtypes

In [ ]:
# credit_stats

In [ ]:
final_row = {'company': f"{len(credit_stats.company.unique())} Companies", 
           'license_number': credit_stats.license_number.sum(),
           'unique_license': len(list(df_ar_roll_fill.license_number.unique())),
           'unique_rolls': len(list(df_ar_roll_fill.roll_up_id.unique())),
           'bal_out': credit_stats.bal_out.sum(),
           'total_rec_bal': credit_stats.total_rec_bal.sum(),
           'num_of_reports': credit_stats.num_of_reports.sum()
          }

In [ ]:
credit_stats = credit_stats.append(final_row, ignore_index=True).set_index('company')

In [ ]:
# credit_stats

In [ ]:
# credit_stats.to_excel(f"../../../Credit Database Stats/Credit Database Stats {today_month}.{today_day}.{today_year}.xlsx")

In [ ]:
credit_stats.to_excel(f"../../../Credit Database Stats/Credit Database Stats {today_month}.{today_day}.{today_year}.xlsx")