In [ ]:
import pandas as pd

In [ ]:

# # Import pandas library 
# import pandas as pd 
  
# # initialize list of lists 
# data = [['tom', 10], ['nick', 15], ['juli', 14]] 
  
# # Create the pandas DataFrame 
# df = pd.DataFrame(data, columns = ['Name', 'Age'])

In [ ]:
data = ['$6.0', -2.4, 5.00]

In [ ]:
df_temp = pd.DataFrame(data, columns=['num'])

In [ ]:
df_temp

In [ ]:
df_temp['num'] = df_temp['num'].replace("\$", "")

In [ ]:
df_temp

In [ ]:
df_temp['num'].dtype

In [ ]:
data = [['Apple', 'Orange', 5, 1], ['Orange', 'Orange', 2, 1], ['Watermelon', 'Pink', 6, 1]]

In [ ]:
df1 = pd.DataFrame(data, columns=['Fruit', 'Color', 'Size', 'in_db'])

In [ ]:
df1

In [ ]:
data2 = [['Apple', 'Green', 5, 0], ['Orange', 'Orange', 2, 0], ['Watermelon', 'Pink', 2, 0],['Grapes', 'Purple', 10, 0]]

In [ ]:
df2 = pd.DataFrame(data2, columns=['Fruit', 'Color', 'Size', 'in_db'])

In [ ]:
df2

In [ ]:
df_all = df1.append(df2, ignore_index=True)

In [ ]:
df_all

In [ ]:
df_drop = df_all.drop_duplicates(subset=['Fruit', 'Color', 'Size'], keep='first')

In [ ]:
df_drop

In [ ]:
df_0 = df_drop[df_drop['in_db'] == 0]

In [ ]:
# df_all = df_all.merge(df_roll, on='license_number', how='left')

In [ ]:
df_0.merge(df1, on='Fruit', how='left')

In [ ]:
# Df1.name.isin(Df2.IDs).astype(int)

In [ ]:
df_0

In [ ]:
df_0['exists_db'] = df_0['Fruit'].isin(df1['Fruit']).astype(int)

In [ ]:
# df_0.assign(df_0['exists_db_2']=df_0['Fruit'].isin(df1['Fruit']).astype(int))

In [ ]:
df_to_add = df_0[df_0['exists_db'] == 0]

In [ ]:
df_to_alter = df_0[df_0['exists_db'] == 1]

In [ ]:
df_to_alter

In [ ]:
df1

In [ ]:
import pyodbc

In [ ]:
cnxn = pyodbc.connect('Trusted_Connection=yes',
                      server = 'DESKTOP-KA6KCMH\SQLEXPRESS', 
                      driver = '{ODBC Driver 17 for SQL Server}',
                      database = 'test_bespoke'
                      )

In [ ]:
fruit1 = pd.read_sql("SELECT * FROM Test_Fruit_1", cnxn)

In [ ]:
fruit1

In [ ]:
data = [['Blueberries', 'Dark Blue', 7],['Strawberries', 'Red', 5],['Grapes', 'Purple', 10]]

In [ ]:
fruit2 = pd.DataFrame(data, columns=['Fruit', 'Color', 'Size'])

In [ ]:
fruit2

In [ ]:
fruit1['in_db'] = 1

In [ ]:
fruit2['in_db'] = 0

In [ ]:
fruit_all = fruit1.append(fruit2, ignore_index=True)

In [ ]:
fruit_all

In [ ]:
fruit_all.drop_duplicates(subset=['Fruit', 'Color', 'Size'], inplace=True)

In [ ]:
fruit_all

In [ ]:
fruit0 = fruit_all[fruit_all['in_db'] == 0]

In [ ]:
fruit0['exists_db'] = fruit0['Fruit'].isin(fruit1['Fruit']).astype(int)

In [ ]:
fruit0

In [ ]:
fruit_add = fruit0[fruit0['exists_db'] == 0]

In [ ]:
fruit_add.drop(columns='exists_db', inplace=True)

In [ ]:
fruit_add['in_db'] = 1

In [ ]:
fruit_add

In [ ]:
fruit_alter = fruit0[fruit0['exists_db'] == 1]

In [ ]:
fruit_alter

In [ ]:
fruit_alter.drop(columns='exists_db', inplace=True)

In [ ]:
fruit_alter['in_db'] = 1

In [ ]:
fruit_add

In [ ]:
fruit_alter

In [ ]:
from sqlalchemy import create_engine
import urllib

In [ ]:
# cnxn = pyodbc.connect('Trusted_Connection=yes',
#                       server = 'DESKTOP-KA6KCMH\SQLEXPRESS', 
#                       driver = '{ODBC Driver 17 for SQL Server}',
#                       database = 'test_bespoke'
#                       )

In [ ]:
params = urllib.parse.quote_plus("DRIVER={ODBC Driver 17 for SQL Server};"
                                 "SERVER=DESKTOP-KA6KCMH\SQLEXPRESS;"
                                 "DATABASE=test_bespoke;")

In [ ]:
engine = create_engine('mssql+pyodbc://DESKTOP-KA6KCMH\SQLEXPRESS/test_bespoke?driver=ODBC Driver 17 for SQL Server')

In [ ]:
# engine = create_engine("mssql+pyodbc:///?odbc_connect={}".format(params))

In [ ]:
fruit_add.to_sql('Test_Fruit_1', con=engine, if_exists='append', index=False)

In [ ]:
fruit_alter.to_sql('temp_table', con=engine, if_exists='append', index=False)

In [ ]:
sql = """Update t1
SET t1.[Color] = t2.[Color], t1.[Size] = t2.[Size]
FROM [test_bespoke].[dbo].[Test_Fruit_1] as t1
INNER JOIN [test_bespoke].[dbo].[temp_table] as t2
ON t1.[Fruit] = t2.[Fruit];"""

In [ ]:
mycursor = cnxn.cursor()

In [ ]:
mycursor.execute(sql)

In [ ]:
fruit_post = pd.read_sql("SELECT * FROM Test_Fruit_1", cnxn)

In [ ]:
fruit_post

In [ ]:
mycursor.close()
cnxn.close()