In [29]:
import pandas
import pyodbc

In [38]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=LAPTOP-E6QKON1L;'
                      'Database=sql_editer;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute('SELECT * FROM sql_editer.dbo.test')

for row in cursor:
    print(row)

('Sara', 'Red', 'Cat')
('Megan', 'Blue', 'Dog')
('Sophia', 'Purple', 'Cat')

In [44]:
# So, this worked

# conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
#                       'Server=LAPTOP-E6QKON1L;'
#                       'Database=sql_editer;'
#                       'Trusted_Connection=yes;')

# cursor = conn.cursor()

# cursor.execute('SELECT * FROM sql_editer.dbo.test')

# cursor.execute('''INSERT INTO sql_editer.dbo.test (Name, Color, Animal)
#                   VALUES ('Petra', 'Blue', 'Dog')''')

# conn.commit()

In [46]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=LAPTOP-E6QKON1L;'
                      'Database=sql_editer;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()

cursor.execute('SELECT * FROM sql_editer.dbo.test')

cursor.execute('''
Update t1
SET t1.[license_adult] = t2.[license_adult],
    t1.[license_category] = t2.[license_category],
    t1.[license_description] = t2.[license_description],
    t1.[license_medicinal] = t2.[license_medicinal],
    t1.[license_annual] = t2.[license_annual],
    t1.[license_provisional] = t2.[license_provisional],
    t1.[date_expiration] = t2.[date_expiration],
    t1.[status_active] = t2.[status_active],
    t1.[status_canceled] = t2.[status_canceled],
    t1.[status_expired] = t2.[status_expired],
    t1.[status_revoked] = t2.[status_revoked],
    t1.[status_surrendered] = t2.[status_surrendered],
    t1.[status_suspended] = t2.[status_suspended],
	t1.[is_current] = t2.[is_current]
FROM [ca_cannabis].[dbo].[ca_main_new] as t1
INNER JOIN [ca_cannabis].[dbo].[ca_main_alter] as t2
ON t1.[license_number] = t2.[license_number];
                  ''')

conn.commit()

In [15]:
print(sqldf("SELECT * FROM test;", locals(), engine_con))

AttributeError: 'Connection' object has no attribute '_instantiate_plugins'

In [ ]:
pd.read_sql()